# FIFA NOTEBOOK

### Creer un nouveau dataset en utilisant les 4 fichiers (json + csv)

In [56]:
import pandas as pd
import json
from pandas import json_normalize

In [61]:
with open('./fifa_data/data_2018.json') as json_data:
    data = json.load(json_data)

stadiums = json_normalize(data['stadiums'])
tvchannels = json_normalize(data['tvchannels'])
teams = json_normalize(data['teams'])

In [125]:
data2014 = pd.read_csv("./fifa_data/WorldCupMatches2014.csv", delimiter=";")
data2022 = pd.read_csv("./fifa_data/WorldCupMatches2022.csv")
data19302010 = pd.read_csv("./fifa_data/matches_19302010.csv")

In [162]:
small_1930_2010 = data19302010[['edition', 'round','score', 'team1', 'team2', 'year']]
small_1930_2010.columns = small_1930_2010.columns.str.replace('year', 'date')
small_1930_2010

,edition,round,score,team1,team2,date
0,1930-URUGUAY,GROUP_STAGE,4-1 (3-0),France,Mexico (México),1930
1,1930-URUGUAY,GROUP_STAGE,3-0 (2-0),USA,Belgium (België),1930
2,1930-URUGUAY,GROUP_STAGE,2-1 (2-0),Yugoslavia (Југославија),Brazil (Brasil),1930
3,1930-URUGUAY,GROUP_STAGE,3-1 (1-0),Romania (România),Peru (Perú),1930
4,1930-URUGUAY,GROUP_STAGE,1-0 (0-0),Argentina,France,1930
...,...,...,...,...,...,...
7294,2014-BRAZIL,1/4_FINAL,(C),3,4,2014
7295,2014-BRAZIL,1/2_FINAL,(X),A,B,2014
7296,2014-BRAZIL,1/2_FINAL,(Y),C,D,2014
7297,2014-BRAZIL,PLACES_3&4,xxx,LOSER X,LOSER Y,2014
7298,2014-BRAZIL,_FINAL,xxx,WINNER X,WINNER Y,2014

In [165]:
small_data2022 = data2022[['team1', 'team2', 'category','number of goals team1','number of goals team2','date']]
small_data2022.columns = small_data2022.columns.str.replace('category', 'round')
small_data2022

,team1,team2,round,number of goals team1,number of goals team2,date
0,QATAR,ECUADOR,Group A,0,2,20 NOV 2022
1,ENGLAND,IRAN,Group B,6,2,21 NOV 2022
2,SENEGAL,NETHERLANDS,Group A,0,2,21 NOV 2022
3,UNITED STATES,WALES,Group B,1,1,21 NOV 2022
4,ARGENTINA,SAUDI ARABIA,Group C,1,2,22 NOV 2022
...,...,...,...,...,...,...
59,ENGLAND,FRANCE,Quarter-final,1,2,10 DEC 2022
60,ARGENTINA,CROATIA,Semi-final,3,0,13 DEC 2022
61,FRANCE,MOROCCO,Semi-final,2,0,14 DEC 2022
62,CROATIA,MOROCCO,Play-off for third place,2,1,17 DEC 2022
63,ARGENTINA,FRANCE,Final,3,3,18 DEC 2022

In [170]:

small_data2022['date'] = small_data2022['date'].astype(str)
small_data2022

/tmp/ipykernel_31604/1001314022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_data2022['date'] = small_data2022['date'].astype(str)

,team1,team2,round,number of goals team1,number of goals team2,date
0,QATAR,ECUADOR,Group A,0,2,20 NOV 2022
1,ENGLAND,IRAN,Group B,6,2,21 NOV 2022
2,SENEGAL,NETHERLANDS,Group A,0,2,21 NOV 2022
3,UNITED STATES,WALES,Group B,1,1,21 NOV 2022
4,ARGENTINA,SAUDI ARABIA,Group C,1,2,22 NOV 2022
...,...,...,...,...,...,...
59,ENGLAND,FRANCE,Quarter-final,1,2,10 DEC 2022
60,ARGENTINA,CROATIA,Semi-final,3,0,13 DEC 2022
61,FRANCE,MOROCCO,Semi-final,2,0,14 DEC 2022
62,CROATIA,MOROCCO,Play-off for third place,2,1,17 DEC 2022
63,ARGENTINA,FRANCE,Final,3,3,18 DEC 2022

In [158]:
small_data2022.isna().count()

team1                    64
team2                    64
round                    64
number of goals team1    64
number of goals team2    64
date                     64
dtype: int64

In [171]:
small_data2022.head()

,team1,team2,round,number of goals team1,number of goals team2,date
0,QATAR,ECUADOR,Group A,0,2,20 NOV 2022
1,ENGLAND,IRAN,Group B,6,2,21 NOV 2022
2,SENEGAL,NETHERLANDS,Group A,0,2,21 NOV 2022
3,UNITED STATES,WALES,Group B,1,1,21 NOV 2022
4,ARGENTINA,SAUDI ARABIA,Group C,1,2,22 NOV 2022

In [147]:
small_data2014 = data2014[['Year', 'Stage', 'Datetime', 'Home Team Name', 'Away Team Name','Home Team Goals', 'Away Team Goals','RoundID', 'MatchID']]
small_data2014

,Year,Stage,Datetime,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals,RoundID,MatchID
0,2014,Group A,12 Jun 2014 - 17:00,Brazil,Croatia,3,1,255931,300186456
1,2014,Group A,13 Jun 2014 - 13:00,Mexico,Cameroon,1,0,255931,300186492
2,2014,Group B,13 Jun 2014 - 16:00,Spain,Netherlands,1,5,255931,300186510
3,2014,Group B,13 Jun 2014 - 18:00,Chile,Australia,3,1,255931,300186473
4,2014,Group C,14 Jun 2014 - 13:00,Colombia,Greece,3,0,255931,300186471
...,...,...,...,...,...,...,...,...,...
75,2014,Quarter-finals,05 Jul 2014 - 17:00,Netherlands,Costa Rica,0,0,255953,300186488
76,2014,Semi-finals,08 Jul 2014 - 17:00,Brazil,Germany,1,7,255955,300186474
77,2014,Semi-finals,09 Jul 2014 - 17:00,Netherlands,Argentina,0,0,255955,300186490
78,2014,Play-off for third place,12 Jul 2014 - 17:00,Brazil,Netherlands,0,3,255957,300186502
79,2014,Final,13 Jul 2014 - 16:00,Germany,Argentina,1,0,255959,300186501